.section-main {
    text-align: center;
    align-items: center;
    margin: 5px 0 5px 0;
    display: block;
}

#favorite-main {
    border: 1px solid antiquewhite;
    border-radius: 5px;
}

#favorite-main h2 {
    margin: 10px;
}

.favorite {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.favorite-card-cook {
    border: 1px solid palegoldenrod;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.favorite-card-cook h3 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

.favorite-dishes {
    background-image: url("../images/logo.png");
    width: 150px;
    height: 150px;
    margin: auto;
    background-size: cover;
}

.favorite-card-cook-like {
    display: flex;
    justify-content: center;
}


#select-list {
    height: 100px;
}

#select-item {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

#selected {
    display: none;
}

.input {
    width: 500px;
    height: 40px;
    margin: 3px 0;
    padding: 5px;
    font-size: 24px;
}

#selected-item-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


#btn-select {
    width: 80px;
    background-color: var(--color-primary);
    padding: 5px 0;
    margin: 10px;
}

#btn-recommend{
    width: 100px;
    background-color: var(--color-purple);
}

