/*responsive */
.wrap {
    margin: 0 auto;
    padding: 20px;

}

header {
    width: 100%;
    height: 3.5rem;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #000;
}

header .navigation {
    display: none;
    padding: 2rem 0 0;
    height: 7rem;

}

header .btn_menu {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    right: 0;
    color: black;
    background: url(/static/images/btn_menu.png) no-repeat center / .8rem auto;
    cursor: pointer;
}

header .btn_menu.active {
    background-image: url(/static/images/btn_down.png)
}

header .navigation.active {
    display: block;
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    background: #FFF;
    text-align: center;
    align-items: center;
}

header h1 {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: normal;
    height: 48px;
    left: 30%;

}

header nav ul {
    display: block
}

header nav ul a:hover {
    color: #eed6ea;
    font-weight: bold;
}

header nav ul a:after {
    display: none;
}

header nav ul li {
    padding: 0
}

header nav ul li ~ li {
    padding: 1.6rem 0 0;
}

.img {
    display: none;
}

.rtan-title-mobile {
    display: block;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0 5px;
    font-size: 28px;
}

main {
    top: 100px;
    width: 90%;
}

.input {
    width: 60%;
    height: 40px;
    margin: 3px 0;
    padding: 5px;
    font-size: 20px;
}

footer {
    width: 100%;
}