#star-main{
    display: block;
    align-items: center; 
    justify-content: center; 
    margin: 20px auto;
}

.user{
    width: 100%; 
    height: auto;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: 20px;
}

.star-list{
    width: 100%; 
    height: auto; 
    margin: 20px;
    border: 1px solid pink;
    border-radius: 5px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    
}
h2{
    font-size: 30px;
    margin: 15px;
}

h3{
    margin: 20px;
    font-size: 25px;
}

.fav-item{
    margin: 15px;
}

.fav-image{
    margin:15px;
}

.fav-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    align-items: center;
}

.fav-delete{
    align-items: center;
    justify-content: center;
}
.i-delete{
    font-size: 25px;
}

.add-recipe{
    width: 100%; 
    height: 100px; 
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#btn-add-recipe{
    background-color: blueviolet;
    color: white;
}