/*rank*/
.rank-container-cook-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;

}

.rank-card-cook {
    width: 200px;
    height: 300px;
    border: 1px solid palegoldenrod;
    margin: 20px 40px 20px 40px;
    padding: 10px;
    border-radius: 5px;

}

.rank-card-cook-image {
    background-image: url("../images/logo.png");
    width: 150px;
    height: 150px;
    margin: 20px;
}

.rank-card-cook-title {
    font-size:24px;
    font-weight:normal;
    margin: 0;
}

.rank-card-cook-footer{
    margin-top: 20px;
}


.to_top {
    position: fixed;
    bottom: 16px;
    right: 16px;

}
.btn-up{
   font-size: 32px;
}

.btn-filter{
    cursor: pointer;
    font-size: 20px;
    color: black;
    padding: 2px;
    border-radius: 5px;
    background: rgba(199, 145, 145, 0.32);
}

/*filter*/
.filter-menu{
    text-align: right;
    margin: 10px;
}

.to_recipe{
    cursor: pointer;
}