h3{
    font-weight: normal;
}

#jung h3 {
    margin: 5px;
}

.ingredient {
    border-radius: 10px;
    height: auto;
    background-color: floralwhite;
    /*font-size: 2vw;*/
    margin: 20px auto;
    padding: 20px;
    text-align: start;
}

.ready {
    border-radius: 10px;
    height: auto;
    background-color: antiquewhite;
    font-size: 2vw;
    margin: 20px auto;
    padding: 20px;
    text-align: start;
}

.making {
    border-radius: 10px;
    height: auto;
    background-color: blanchedalmond;
    font-size: 2vw;
    margin: 20px auto;
    padding: 20px;
    text-align: start;
}

.ready_detail, .making_detail{
    padding-left: 50px;
    height: auto;
}

.ready_detail li{
    font-weight: normal;
    list-style: decimal;
    margin: 5px 10px;
    padding: 5px;
}

.making_detail li {
    font-weight: normal;
    list-style: decimal;
    margin: 5px 10px;
    padding: 5px;
}

