h3{
    font-weight: normal;

}

.ready_detail, .making_detail{
    padding-left: 20px;
}

.ready_detail li{
    font-weight: normal;
    list-style: decimal;
    margin: 5px 10px;
    padding: 5px;
}

.making_detail li {
    font-weight: normal;
    list-style: decimal;
    margin: 5px 10px;
    padding: 5px;
}

