.selected-ingredients ul {
    list-style: none;
}

.card-footer {
    background: 0;
}

#ingredients-main h2 {
    font-size: 40px;
    font-weight: normal;
}

.selected-ingredients li {
    font-size: 28px;
}

/* recommend */
.selected-ingredients {
    text-align: center;
    align-items: center;
    margin: 11px 0 30px;
    display: block;
}

#ingredients-main{
    background-color: rgba(250, 250, 250, 0.603);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}


.ingredients {
    min-width: 150px;
    min-height: 150px;
    background-image: url("../images/default-image.jpg");
    background-position: 50% 50%;
    margin: 10px;
    border-radius: 50%;
}

.recipes_all_about {
    display: flex;
    margin: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background: palegoldenrod;
}

.recipes_img {
    width: 100%;
    background-color: papayawhip;
}

.list-img-cook {
    width: 100%;
    margin-right: 5px;
}

.recipes_information {
    width: 75%;
    text-align: start;
    background-color: palegoldenrod;
    padding-left: 5px;
}

.recipes_information h3 {
    margin: 0 0 0 15px;
    font-size: 32px;
}

.recipes_title {
    width: 100%;
    margin-bottom: 0;
}

.recipes_desc {
    height: 150px;
    padding: 5px 30px;
    overflow: auto;
}

.recipes_desc h4 {
    font-size: 24px;
    margin: 0 0 0 20px;
    padding-top: 5px;
}

.recipes_like {
    height: 30px;
    width: 140px;
    float: left;
}

#i_favorite.active{
    color: pink;
}