* {
  font-family: "Jua", sans-serif;
  color:#000000;
  font-size:20px;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #ffd0e0;
  --color-pink: #ffd0e0;
  --color-purple: #eed6ea;

  --text-color: var(--color-black);
  --background-color: antiquewhite;
  --accent-color: var(--color-pink);
}

a {
  text-decoration: none;
  color: black;
}

/* main */
.wrap {
  width: 100%;
  text-align: center;
}

main {
  width: 60%;
  margin: 0 auto;
}
header{
margin: 0 auto;
padding: 10px 0 0;
width: 60%;
display:flex;

}
header nav{
    height:50px;
}

header nav ul{
    display:flex;
    float:right;
}

header nav ul li{
margin:10px;
padding: 0 3rem 0 0;}

h1{
    position:absolute;
    top:0;
    width:6rem;
    height:4rem;
    left:15%;
}

.img {
  height: 200px;
}

/*Button*/
.btn-main {
  width: 120px;
  background-color: #d8d8d8;
  border: none;
  border-radius: 10px;
  color: #000000;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px;
  cursor: pointer;
}

footer {
  width: 60%;
  margin: 0 auto;
  background:#000000;
  color: #ffffff;
  clear: both;
}

.rtan {
  width: 60%;
  height: 200px;
  margin: auto;
  position: relative;
  background-image: url("https://blog.hmgjournal.com/images_n/contents/180515_egg01.jpg");
}

.rtan::before {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.rtan-title {
  font-family: "Black Han Sans", sans-serif;
  width:100%;
  font-size: 72px;
  left:0;
  line-height: 200px;
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
  position: relative;
}

.cook-name {
  font-size: 50px;
  margin: auto;
}

.cook-img {
  width: 400px;
  height: 200px;
  margin: 10px auto;
}

#jung h3 {
  margin: 5px;
}

.ingredient {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 300px;
  background-color: #fff3e7;
  font-size: 30px;
  margin: 20px auto;
  padding: 10px;
  text-align: start;
}

.ready {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 400px;
  background-color: #ffffec;
  font-size: 30px;
  margin: 20px auto;
  text-align: start;
}

.making {
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 400px;
  background-color: #fff2f4;
  font-size: 30px;
  margin: 20px auto;
  text-align: start;
}

/* recommend */
.selected-ingredients {
  text-align: center;
  align-items: center;
  margin: 11px 0 70px;
  display: block;
}

.ingredients {
  min-width: 150px;
  min-height: 150px;
  background-image: url("../images/default-image.jpg");
  background-position: 50% 50%;
  margin: 10px;
  border-radius: 50%;
}

.recipes_all_about {
  display: flex;
  margin: 10px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

.recipes_img {
  float: left;
  width: 100%;
  background-color: papayawhip;
  padding: 10px;
  /*position: absolute;*/
}

.list-img-cook {
  width: 80%;
}

.recipes_information {
  width: 75%;
  text-align: start;
  background-color: palegoldenrod;
}

.recipes_information h3 {
  margin: 0 0 0 15px;
  font-size: 32px;
}

.recipes_title {
  width: 100%;
  margin-bottom: 0;
}

.recipes_desc {
  height: 150px;
}

.recipes_desc h4 {
  font-size: 24px;
  margin: 0 0 0 20px;
  padding-top: 5px;
}

.recipes_like {
  height: 20px;
}

.list-style {
  width: 300px;
  display: inline;
  float: left;
}
.rtan-title-mobile{
    display:none;
}