* {
    font-family: "Jua", sans-serif;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-primary: #ffd0e0;
    --color-pink: #ffd0e0;
    --color-purple: #eed6ea;

    --text-color: var(--color-black);
    --background-color: antiquewhite;
    --accent-color: var(--color-pink);
}

a {
    text-decoration: none;
    color: black;
}

/*@media screen and (max-width: 768px) {*/
/*    .navbar {*/
/*        flex-direction: column;*/
/*        align-items: flex-start;*/
/*        padding: 8px 24px;*/
/*        width: 100%;*/
/*    }*/

/*    .navbar__menu {*/
/*        display: none;*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*        align-items: center;*/
/*    }*/

/*    .navbar__menu li {*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/

/*    .navbar__toggleBtn {*/
/*        display: block;*/
/*    }*/

/*    .navbar__menu.active {*/
/*        display: flex;*/
/*    }*/
/*}*/

/* main */
.wrap {
    width: 100%;
    text-align: center;
}

main {
    width: 60%;
    margin: 0 auto;
}

.navbar {
    width: 60%;
    margin: 0 auto;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 32px;
    color: black;
    padding: 12px;
}

.navbar__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding:0 10px 0 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: rgb(238, 214, 234);
    border-radius: 4px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    top: 16px;
    right: 32px;
    font-size: 24px;
    color: black;
}
.img{
    height: 200px;
}

/*Button*/
.btn-main {
    width: 120px;
    background-color: #d8d8d8;
    border: none;
    border-radius: 10px;
    color: #000000;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px;
    cursor: pointer;
}

.ft {
    width: 60%;
    margin: 0 auto;
    background-color: black;
    color: white;
    clear: both;
}

/* about */
.section-about {
    align-items: center;
    margin: 11px 0 60px;
    display: block;
}

#members-front {
    border: 3px solid #eed6ea;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}

#members-back {
    border: 3px solid #eed6ea;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border-radius: 15px;
}

.members-about {
    display: flex;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #d8d8d8;
}

.member-image {
    width: 200px;
    height: 200px;
    margin: 20px;
    object-fit: cover;
}

.section-thanks {
    align-items: center;
    margin: 11px 0 60px;
    display: block;
    border: 3px solid #ffd0e0;
    border-radius: 15px;
}

.thanks-image {
    width: 150px;
    height: 150px;
    margin: 20px;
    background-size: cover;
}

.thanks-about {
    display: inline-block;
    margin: 20px auto;
    padding: 20px;
}

.rtan {
    width: 60%;
    height: 200px;
    margin: auto;
    position: relative;
    background-image: url("https://blog.hmgjournal.com/images_n/contents/180515_egg01.jpg");
}

.rtan::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.rtan-title {
    font-family: "Black Han Sans", sans-serif;
    font-size: 72px;
    line-height: 200px;
    margin: 10px 0;
    text-align: center;
    font-weight: normal;
    position: relative;
}

.cook-name {
    font-size: 50px;
    margin: auto;
}

.cook-img {
    width: 400px;
    height: 200px;
    margin: 10px auto;
}

#jung h3 {
    margin: 5px;
}

.ingredient {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 300px;
    background-color: #fff2f2;
    font-size: 30px;
    margin: 20px auto;
    padding: 10px;
    text-align: start;
}

.ready {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 400px;
    background-color: white;
    font-size: 30px;
    margin: 20px auto;
    padding: 10px;
    text-align: start;
}

.making {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 550px;
    background-color: white;
    font-size: 30px;
    margin: 20px auto;
    padding: 10px;
    text-align: start;

}



/* recommend */
.selected-ingredients {
    text-align: center;
    align-items: center;
    margin: 11px 0 70px;
    display: block;
}

.ingredients {
    min-width: 150px;
    min-height: 150px;
    background-image: url("../images/default-image.jpg");
    background-position: 50% 50%;
    margin: 10px;
    border-radius: 50%;
}

.recipes_all_about {
    display: flex;
    margin: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;

}

.recipes_img {
    float: left;
    width: 100%;
    background-color: papayawhip;
    padding: 10px;
    /*position: absolute;*/
}

.list-img-cook {
    width: 80%;
}


.recipes_information {
    width: 75%;
    text-align: start;
    background-color: palegoldenrod;

}

.recipes_information h3 {
    margin: 0 0 0 15px;
    font-size: 32px;
}

.recipes_title {
    width: 100%;
    margin-bottom: 0;
}

.recipes_desc {
    height: 150px;
}

.recipes_desc h4 {
    font-size: 24px;
    margin: 0 0 0 20px;
    padding-top: 5px;

}

.recipes_like {
    height: 20px;

}

.list-style{
    width: 300px;
    display: inline;
    float: left;
}
