{% extends "base.html" %} {% block content %}

<div class="about_main" style="display:flex">
  <div class="about_title" style="width:40%;  min-height:200px; margin:20px; padding:10px;">
  <h2 class="title">About us</h2>
  <p>인간은 같은 실수를 반복하죠 하면 다 된다</p>
  </div>
  <div class="about_members" style="width:60%; margin:20px; padding:10px;">
    <p>문지웅 [마스터] M: FrontEnd / S: BackEnd</p><br>
    <p>전다정 [루미퀸] M: FrontEnd / S: BackEnd</p><br>
    <p>권지훈 [카트킹] M: BackEnd  / S: FrontEnd </p><br>
    <p>서동현 [루미킹] M: BackEnd  / S: FrontEnd </p>
  </div>
</div>

<div class="member_card" style="display:flex; flex-wrap:wrap; margin:20px; padding:10px">
  <img  src="../static/images/mjw.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/jdj.jpg" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/kjh.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/sdh2.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/jys.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/kkh.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/sh.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/tutor.jpg" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/manager.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/hh.jpg" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/ssy.png" class="member-image" alt="캐릭터"/>
</div>
<div class="btn-container">
<button style"btn-main"> <i class="fas fa-chevron-left"></i> </button>
<button style"btn-main">  <i class="fas fa-chevron-right"></i> </button>

{% endblock %}
