<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼미더레시피</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/about.css">
    <link rel="stylesheet" media="(min-width:0px) and (max-width:768px) " href="/static/css/mobile.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>
    <!-- navigation toggle -->
    <script src="/static/scripts/toggle.js"></script>
</head>

<body>
    <div class="wrap">

        <header>
            <a href="/"><h1><i class="fas fa-utensils logo"></i> 쇼미더레시피</h1></a>
            <button class="btn_menu">
            </button>
            <nav>
                <div class="navigation">
                    <ul id="nav_login">
                        <li><a href="/rank">랭킹</a></li>
                        {% if session['user_id'] %}
                            <li><a href="/logout">로그아웃</a></li>
                        {% else %}
                            <li><a href="/login">로그인</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <!-- <div class="img" style="height: 200px;">
            <div class="rtan">
                <h1 class="rtan-title">쇼미더레시피!!</h1>
            </div>
        </div> -->

        <main id="woong">
            <section class="section-about">
                <h2>멤버 소개</h2>
                <div id="members-front">
                    <h3>프론트엔드 부분</h3>
                    <div class="members-detail">
                        <div class="members-about">
                            <div>
                                <img src="../static/images/jdj.jpg" class="member-image" alt="전다정">
                            </div>
                            <div>
                                <h3 class="member-text">전다정 (조원)</h3>
                                <p>상세 페이지 담당<br>"다음 조장은 나다!"</p>
                            </div>
                        </div>
                        <div class="members-about">
                            <div class="members-img">
                                <img src="../static/images/mjw.png" class="member-image" alt="문지웅">
                            </div>
                            <div class="members-text">
                                <h3 class="member-title">문지웅 (조장)</h3>
                                <p class="member-detail">프로젝트 총괄<br>"15일은 길지 않다!"</p>
                            </div>
                        </div>
                        <!-- <div class="members-about">
                            <div>
                                <img src="../static/images/jys.png" class="member-image" alt="주연수">
                            </div>
                            <div>
                                <h3 class="member-text">주연수 (조원)</h3>
                                <p>추천 페이지 담당<br>"Dobby is Free?"</p>
                            </div>
                        </div> -->

                    </div>
                </div>
                <div id="members-back">
                    <h3>백엔드 부분</h3>
                    <div class="members-detail">
                        <div class="members-about">
                            <div>
                                <img src="../static/images/kjh.png" class="member-image" alt="권지훈">
                            </div>
                            <div>
                                <h3 class="member-text">권지훈 (부조장)</h3>
                                <p>깃허브 마스터<br>"드로우 게임 한판 하쉴?"</p>
                            </div>
                        </div>
                        <!-- <div class="members-about">
                            <div>
                                <img src="../static/images/kkh.png" class="member-image" alt="김경훈">
                            </div>
                            <div>
                                <h3 class="member-text">김경훈 (조원)</h3>
                                <p>발표자<br>"발표에 살고, 발표에 죽는 남자"</p>
                            </div>
                        </div> -->
                        <div class="members-about">
                            <div>
                                <img src="../static/images/sdh.JPG" class="member-image" alt="서동현">
                            </div>
                            <div>
                                <h3 class="member-text">서동현 (조원)</h3>

                                <p>DB 마스터<br>"아 그거요? 금방 되죠!"</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="section-thanks">
                <h2>도움 주신 분들</h2>
                <div class="members-detail">
                    <div class="thanks-about" id="tutor">
                        <div>
                            <img src="/static/images/tutor.jpg" class="thanks-image" alt="img">
                        </div>
                        <div>
                            <h3 class="thanks-text">미니튜터 최동현</h3>
                            <p>"어림 X"</p>
                        </div>
                    </div>

                    <div class="thanks-about" id="mananger">
                        <div>
                            <img src="../static/images/manager.png" class="thanks-image" alt="img">
                        </div>
                        <div>
                            <h3 class="thanks-text">매니저 황선애</h3>
                            <p>"내가 제일 잘 나가"</p>
                        </div>

                    </div>
                </div>
            </section>
        </main>

        <footer>
            copyright by 내일배움단 6조<br>
            Thanks to 스파르타 코딩 클럽
        </footer>
    </div>
</body>

</html>