{% extends "base.html" %} {% block content %}

<div class="about_main" style="display:flex">
  <div class="about_title" style="width:40%; min-height:200px; margin:5% 20px 20px 20%; padding:10px;">
  <h2 class="title" style="font-family: 'Cafe24Dangdanghae'; font-size:90px">About us</h2>
  <p style="font-family:'Cafe24Oneprettynight'; color:grey;">"7기는 안한다. 그치만 인간은 같은 실수를 반복하지."</p>
  </div>
  <div class="about_members" style="width:60%; margin:6% 20px 20px 20px; padding:10px;">
    <p style="font-family:'Cafe24SsurroundAir';">
      문지웅 [마스터] 30일 동안 수고하셨습니다!<br>
      전다정 [루미퀸] 7기에서 만나요 여러분~<br>
      권지훈 [카트킹] 또 만나시려구요?<br>
      서동현 [루미킹] 이젠 그만 만나면 안될까요? </p>
  </div>
</div>

<div class="member_card" style="display:flex; flex-wrap:wrap; margin:20px; padding:10px">
  <img  src="../static/images/mjw.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/jdj.jpg" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/kjh.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/sdh2.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/sh.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/tutor.jpg" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/manager.png" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/hh.jpg" class="member-image" alt="캐릭터"/>
  <img  src="../static/images/ssy.png" class="member-image" alt="캐릭터"/>
</div>

{% endblock %}
