<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>르탄아, 냉장고를 부탁해</title>
    <!--    css 초기화 코드-->
    <link rel="stylesheet" href="/static/css/default.css">
    <!--    공용 css 코드-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--    main 에서만 쓰이는 css-->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--    모바일용 css-->
    <link rel="stylesheet" media="(min-width:0px) and (max-width:768px) " href="/static/css/mobile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>
    <!-- navigation toggle -->
    <script src="/static/scripts/toggle.js"></script>
    <!-- custom javascript-->
    <script src="/static/scripts/main.js"></script>

</head>

<body>
    <div class="wrap">

        <header>
            <a href="/"><h1><i class="fas fa-utensils logo"></i>
                <span class="rtan-title-mobile">르탄아, 냉장고를 부탁해!</span>
            </h1>
            </a>
            <button class="btn_menu">
            </button>
            <div class="navigation">
                <nav>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/rank">Rank</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="img">
            <div class="rtan">
                <h1 class="rtan-title">르탄아, 냉장고를 부탁해!</h1>
            </div>
        </div>

        <main id="woong">

            <section class="section-main" id="favorite-main">
                <h2>BEST MENU</h2>

                <div class="favorite" id="favorite-dishes">
                </div>

            </section>

            <section class="section-main" id="select-list">

                <div class="input-group" id="select-item">
                    <label>
                        <input type="text" style="width:60%" placeholder="재료를 입력해 주세요!" id="ingredient">
                    </label>
                    <button type="button" class="btn-main" id="btn-select" onclick="add_ing_list()">선택</button>

                    <button type="button" class="btn-main" id="btn-select" onclick="delete_list()">
                        <i class="fas fa-redo"></i>
                    </button>
                </div>

            </section>

            <section class="section-main" id="selected-list">

                <div id="selected">
                    <h3 class="selected_title">선택한 재료 모음</h3>
                    <ul id="selected-item-list"></ul>
                </div>
            </section>

            <section class="section-main" id="make-dishes">
                <button type="button" class="btn-main" id="btn-recommend" onclick="to_recommend()">요리 추천</button>
            </section>

        </main>

        <footer>
            copyright by 내일배움단 6조 (내 이름은 르탄, 냉장고 킬러조) <br>
            Thanks to 스파르타 코딩 클럽
        </footer>
    </div>
</body>
</html>