<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="쇼미더레시피" />
    <meta property="og:description" content="레시피봐" />
    <meta property="og:image" content="{{ url_for('static', filename='images/ogimg.jpg') }}" />
    <title>쇼미더레시피</title>
    <!--    css 초기화 코드-->
    <link rel="stylesheet" href="/static/css/default.css">
    <!--    공용 css 코드-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--    main 에서만 쓰이는 css-->
    <link rel="stylesheet" href="/static/css/popup.css">
    <!--    모바일용 css-->
    <link rel="stylesheet" media="(min-width:0px) and (max-width:768px) " href="/static/css/mobile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>
    <!-- navigation toggle -->
    <script src="/static/scripts/toggle.js"></script>
    <!-- custom javascript-->
    <script src="/static/scripts/login.js"></script>

</head>

<body>
    <div class="wrap">

        <main id="woong" class="popup-container">

            <div class="login-layout">

                <div class="popup">
                    <a href="/">
                        <h1 class="logo"><i class="fas fa-utensils logo"></i> 쇼미더레시피</h1>
                    </a>

                </div>

                <div class="login-form">
                    <div class="input-group" id="user-id">
                        <label>
                            <input class="login-input" type="text" placeholder="아이디" id="user">
                        </label>

                    </div>
                    <div class="input-group" id="user-pw">
                        <label>
                            <input class="login-input" type="password" placeholder="비밀번호" id="password">
                        </label>

                    </div>
                </div>

                <div class="btn-container">

                    <div class="btn-item">
                        <a type="button" class="btn-main" id="btn-login" onclick="login()">로그인</a>

                    </div>

                    <div class="btn-item">
                        아직 계정이 없으신가요? <a id="btn-register" onclick="toRegister()">회원가입</a>

                    </div>

                    <div class="btn-item">
                        <a id="btn-skip" onclick="skipToMain()">게스트 로그인</a>
                    </div>

                </div>

            </div>

        </main>

    </div>
</body>

</html>