{% extends "base.html" %}
{% block style %}
<!--이 곳에 static에 해당하는 코드 (css파일 연결 등) 작성-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
    {# <link rel="stylesheet" href="{% static 'mypage.css' %}" type="text/css" /> #}
    <script src="/static/scripts/mypage.js"></script>
    <script src="/static/scripts/search_recipe.js"></script>
    
{% endblock %}
{% block content %}
    
            <div class="main" id="star-main">

                <div class="user">
                    <!-- 유저 정보 -->
                </div>

                <div class="star-list">
                    
                </div>


                <div class="add-recipe">

                    <button class="btn-main" id="btn-add-recipe" onclick="add_recipe()">
                        레시피 추가
                    </button>

                
                </div>

            </div>
{% endblock %}