<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쇼미더레시피</title>
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/rank.css">
    <link rel="stylesheet" media="(min-width:0px) and (max-width:768px) " href="/static/css/mobile.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>
    <!-- navigation toggle -->
    <script src="/static/scripts/toggle.js"></script>
    <script src="../static/scripts/rank.js"></script>
</head>

<body>
    <div class="wrap">

        <header>
            <a href="/">
                <h1><i class="fas fa-utensils logo"></i>
                    <span class="rtan-title-mobile">쇼미더레시피!!</span>
                </h1>
            </a>
            <button class="btn_menu">
            </button>
            <nav>
                <div class="navigation">
                    <ul id="nav_login">
                        <li><a href="/rank">랭킹</a></li>
                        {% if session['user_id'] %}
                            <li><a href="/logout">로그아웃</a></li>
                        {% else %}
                            <li><a href="/login">로그인</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <div class="img" style="height: 200px;">
            <div class="rtan">
                <h1 class="rtan-title">레시피 랭킹</h1>
            </div>
        </div>

        <main id="woong">

            <div class="filter-menu">
                <button class="btn-filter" id="btn-likes" onclick="show_rank()">
                    좋아요 순
                </button>
                <button class="btn-filter" id="btn-names" onclick="show_sort()">
                    가나다 순
                </button>
            </div>

            <div class="rank-container-cook-card" id="cook-list">
            </div>

            <div class="to_top">
                <a href="/rank">
                    <i class="fas fa-chevron-circle-up btn-up" title="위로"></i>
                </a>
            </div>


        </main>

        <footer>
            copyright by 내일배움단 6조<br>
            Thanks to 스파르타 코딩 클럽
        </footer>
    </div>
</body>

</html>