{% extends "base.html" %} {% block content %}
<div class="title" style="text-align: center; margin: 20px; padding: 20px">
  <h2 style="color: red; font-weight: bold; font-size:48px; font-family: Cafe24Danjunghae;">RANK</h2>
</div>
<div class="main" id="rank">
  <div class="filter-menu" style="margin-left:15%;">
    <button class="btn-filter" id="btn-likes" onclick="show_rank()" style="font-family: Cafe24Oneprettynight;">
      좋아요 순
    </button>
    /
    <button class="btn-filter" id="btn-names" onclick="show_sort()" style="font-family: Cafe24Oneprettynight;">
      가나다 순
    </button>
  </div>

  <div class="rank-container-cook-card" id="cook-list"></div>

  <div class="to_top">
    <a href="/rank">
      <i class="fas fa-chevron-circle-up btn-up" title="위로"></i>
    </a>
  </div>
</div>
{% block javascript %}
<script>
  $(document).ready(() => {
    show_rank();
  });
  function show_rank() {
    $("#cook-list").empty();
    $.ajax({
      type: "GET",
      url: "/rank/list?sample_give=샘플데이터", //레시피 가져올 url  필요
      data: {},
      success: function (response) {
        let recipeList = response["recipe_Lists"];
        for (let i = 0; i < recipeList.length; i++) {
          let name = recipeList[i]["name"];
          let like = recipeList[i]["like"];

          let temp_html = `<div class="rank-card-cook">
                                    <div>
                                        <img src="../static/recipe-image/${name}.png" class="rank-card-cook-image" alt="cook image">
                                    </div>
                                    <div class="rank-card-detail">
                                      <div class="rank-card-cook-title">
                                        <h3>${name}</h3>
                                      </div>
                                      <div class="favorite-card-cook-like">
                                        <h3><i class="fas fa-thumbs-up"></i> ${like}</h3>
                                      </div>
                                      <div class="rank-card-cook-footer">
                                        <a class="to_recipe" onclick="rank_search_recipe('${name}')">
                                            <u>레시피 보기</u>
                                        </a>
                                      </div>
                                    </div>

                                </div>`;
          $("#cook-list").append(temp_html);
        }
      },
    });
  }

  function show_sort() {
    console.log("가나다순 실행");
    $("#cook-list").empty();
    $.ajax({
      type: "GET",
      url: "/rank/sort?sample_give=샘플데이터", //레시피 가져올 url  필요
      data: {},
      success: function (response) {
        console.log(response);
        let recipeList = response["sort_lists"];
        for (let i = 0; i < recipeList.length; i++) {
          let name = recipeList[i]["name"];
          let like = recipeList[i]["like"];
          let temp_html = `<div class="rank-card-cook">
                                    <div>
                                        <img src="../static/recipe-image/${name}.png" class="rank-card-cook-image" alt="cook image">
                                    </div>
                                    <div class="rank-card-detail">
                                      <div class="rank-card-cook-title">
                                        <h3>${name}</h3>
                                      </div>
                                      <div class="favorite-card-cook-like">
                                        <h3><i class="fas fa-thumbs-up"></i> ${like}</h3>
                                      </div>
                                      <div class="rank-card-cook-footer">
                                        <a class="to_recipe" onclick="rank_search_recipe('${name}')">
                                            <u>레시피 보기</u>
                                        </a>
                                      </div>
                                    </div>
                                </div>`;
          $("#cook-list").append(temp_html);
        }
      },
    });
  }

  function rank_search_recipe(name) {
    $.ajax({
      type: "POST",
      url: "/recommend/search2",
      data: { name_give: name },
      success: function (response) {},
    });
    window.location.href = "/recipe";
  }
</script>
{% endblock %} {% endblock %}
