{% extends "base.html" %} {% block content %}
<div style="display:flex; flex-wrap:column; margin:50px;">
  {# 요리이미지 #}
  <div id="recipe_img" style="margin-left:10%;position:absolute;">
  </div>
  {# 요리 상세 내용 #}
  <div style="width:60%;margin-left:30%;">
    
    {# 요리 이름 #}
    <div id="recipe_name" style="margin-top: 30px; margin-left:-80px;position:absolute;"></div>
    {# 요리 재료 #}
    <div class="recipe_detail_1" id="recipe_ingredient">
      <div id="ingredient">
      <h3>[요리 재료]</h3>
      </div>
    
    </div>
    
    {# 요리 준비 #}
    <div class="recipe_detail_2" id="ready">
      <h3>[준비하기]</h3>
      <ol class="ready_detail" type="1"></ol>
    </div>
    
    {# 요리 만들기 #}
    <div class="recipe_detail_3" id="making">
      <h3>[만들기]</h3>
      <ol class="making_detail" type="1"></ol>
    </div>
    {# 요리 리뷰 #}
    <div class="recipe_detail_4" id="review-wrap">
    <!-- 이 레시피에 대한 리뷰 -->
      <h4>[리뷰 목록]</h4>
      <!-- 새 -->
      <div id="review-list">
      </div>


      <div id="add-review">
    
        <textarea name="new-review" id="new-review" cols="30" rows="10" style="width: 90%; margin: 20px"></textarea>

      </div>
    
    </div>

  

  </div>


</div>
{% block javascript %}
  <script src="/static/scripts/recipe.js"></script>
{% endblock %} {% endblock %}
