<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="쇼미더레시피" />
    <meta property="og:description" content="레시피봐" />
    <meta property="og:image" content="{{ url_for('static', filename='images/ogimg.jpg') }}" />
    <title>쇼미더레시피</title>
    <!--    css 초기화 코드-->
    <link rel="stylesheet" href="/static/css/default.css">
    <!--    공용 css 코드-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--    main 에서만 쓰이는 css-->
    <link rel="stylesheet" href="/static/css/popup.css">
    <!--    모바일용 css-->
    <link rel="stylesheet" media="(min-width:0px) and (max-width:768px) " href="/static/css/mobile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>
    <!-- navigation toggle -->
    <script src="/static/scripts/toggle.js"></script>
    <!-- custom javascript-->
    <script src="/static/scripts/register.js"></script>

</head>

<body>
    <div class="wrap">

        <main id="woong" class="popup-container">

            <div class="register-layout">

                <div class="popup" style="margin-bottom: 50px;">
                    <a href="/">
                        <h1 class="logo"><i class="fas fa-utensils logo"></i> 쇼미더레시피</h1>
                    </a>

                </div>

                <form name="join_form" id="join-form">
                    <div class="input-group" id="user-id" style="display:flex; flex-wrap: wrap; align-items:center;">
                        <label>
                            <input class="register-input" type="text" placeholder="아이디" id="username"
                                style="width:50%" check_result="fail" required">
                        </label>

                        <button type="button" class="btn-main" id="id_check_button" onclick="id_check()">중복검사</button>
                        
                        <i id="id_check_sucess" class="fas fa-check"></i>
                        
                        
                    </div>

                    <div class="input-group" id="user-email">
                        <label>
                            <input class="register-input" type="text" placeholder="이메일" id="email_id"
                                style="width: 25%;">
                        </label>
                        @
                        <label>
                            <input class="register-input" type="text" id="email_add" style="width: 40%;">
                        </label>

                        <select name="email_sel" id="email_sel" onchange="change_email();">
                            <option value="">직접입력</option>
                            <option value="naver.com">naver</option>
                            <option value="gmail.com">gmail</option>
                        </select>

                    </div>

                    <div class="input-group pw-input" id="user-pw">
                        <label>
                            <input class="register-input" type="password" placeholder="비밀번호" id="password">
                        </label>

                    </div>

                    <div class="input-group pw-input" id="user-pw">
                        <label>
                            <input class="register-input" type="password" placeholder="비밀번호 확인" id="re_password">
                        </label>

                    </div>
                </form>

                <div class="btn-container">

                    <div class="btn-item">
                        <button type="button" class="btn-main " id="btn-addUser" onclick="form_check()">가입하기</button>
                    </div>

                </div>

            </div>



        </main>

    </div>
</body>

</html>