{% extends "base.html" %}
{% block content %}
<main>

    <div>
        <div class="request_list" style="width: 100%; height: auto; min-height:300px; margin:20px 60px;">
            <u><h3 style="text-align:center; font-size:32px">REQUEST</h3></u>
        </div>

        <div class="add_request" style="margin:60px; display:flex;">
            <div id="input_request" style="width: 100%; height: auto; margin:20px;">
                <label>
                    <input name=" new-request" id="new-request" style="width:100%; height:40px; border:2px solid black;">
                    </input>
                </label>

            </div>
            <div class="btn-container" style="width:30%">
                <button class="btn-main" id="btn-req" onclick="add_request()">레시피 요청</button>
            </div>
        </div>


</main>
{% block javascript %}
<script>

    $(document).ready(() => {
            request_show();
        })

function request_show(){
    $.ajax({
        type: "GET",
        url: "/request/show",
        data: {},
        success: function (response) {
            let requests = response['all_requests']
            for (let i = 0; i < requests.length; i++) {
                let uid = requests[i]['user_id']
                let request = requests[i]['request']
                let datetime = requests[i]['datetime']
                let request_html = `<li> ${uid}: ${request} / ${datetime}                                             
                                        
                                    </li>`
                
                $('.request_list').append(request_html)
            }
        }
    })
}




function add_request(){
    let comment = $('#new-request').val();
    $.ajax({
        type: "POST",
        url: "/request",
        data: {request_give:comment},
        success: function (response) {
            let user_id = response['user_id']
            
            let req_html = `<li> ${user_id}: ${comment} / ${date} </li>`
            if (user_id == undefined) {
                alert('로그인 후 이용해주세요.')
            } else{
                $('.request_list').append(req_html)
                alert('추가 완료')
            }
        }
    })
}

</script>
{% endblock %}

{% endblock %}