<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="쇼미더레시피" />
    <meta property="og:description" content="레시피봐" />
    <meta property="og:image" content="{{ url_for('static', filename='images/ogimg.jpg') }}" />
    <title>쇼미더레시피</title>
    <!--    css 초기화 코드-->
    <link rel="stylesheet" href="/static/css/default.css">
    <!--    공용 css 코드-->
    <link rel="stylesheet" href="/static/css/style.css">
    <!--    main 에서만 쓰이는 css-->
    <link rel="stylesheet" href="/static/css/main.css">
    <!--    모바일용 css-->
    <link rel="stylesheet" media="(min-width:0px) and (max-width:768px) " href="/static/css/mobile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/15cc769352.js" crossorigin="anonymous"></script>
    <!-- navigation toggle -->
    <script src="/static/scripts/toggle.js"></script>
    <!-- custom javascript-->
    <script src="/static/scripts/main.js"></script>

</head>

<body>
    <div class="wrap">

        <header>
            <a href="/"><h1><i class="fas fa-utensils logo"></i>
                <span class="rtan-title-mobile">쇼미더레시피</span>
            </h1>
            </a>
            <button class="btn_menu">
            </button>
            <div class="navigation">
                <nav>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/rank">Rank</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="img">
            <div class="rtan">
                <h1 class="rtan-title">쇼미더레시피!!</h1>
            </div>
        </div>

        <main id="woong">

            <form>
                <div class="input-group" id="user-id">
                    <label>
                        <input type="text" style="width:60%" placeholder="ID를 입력해 주세요!" id="username">
                    </label>
                </div>

                <div class="input-group" id="user-email">
                    <label>
                        <input type="text" style="width:60%" placeholder="이메일을 입력해 주세요!" id="email">
                    </label>
                </div>

                <div class="input-group" id="user-pw">
                    <label>
                        <input type="password" style="width:60%" placeholder="비밀번호를 입력해 주세요!" id="password">
                    </label>
                </div>

                <div class="input-group" id="user-pw-check">
                    <label>
                        <input type="password" style="width:60%" placeholder="비밀번호를 한 번 더 입력해 주세요!" id="repassword">
                    </label>
                </div>

                <button type="button" class="btn-main" id="btn-register" onclick=register()>가입하기</button>

            </form>

        </main>

        <footer>
            <div class="cp">
            copyright by 내일배움단 6조 <br>
            Thanks to 스파르타 코딩 클럽
            </div>
        </footer>
    </div>
</body>
</html>